$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// FUENTES
$poppins: 'Poppins';

// COLORES
$negro: #070D15;
$azul: #264065;
$verde: #A9D6CB;
$gris: #909090;
$gris-fondo: #FAF8F5;